
/* Reset */
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(61, 61, 61);
    
}


@font-face {
    font-family: familia_1;
    src: url('..assets/fonts/Staatliches-Regular.ttf');

}

@font-face {
    font-family: familia_2;
    src: url('..assets/fonts/Staatliches-Regular.ttf');

}



/* DOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

/* ------- FLEX CONTAINER PADRE ----------------------------------------------------------------------- */

.flex_container{

    display: flex;
    flex-direction: column;
}

/* HEADER -----------------------------------------------------------------------------------------------*/

.header_bar {

    position: fixed;
    background-color: rgb(49, 44, 44);
    display: flex;
    width: 100%;
    height: 50px;
    
   
 }


.header_bar  nav ul {

    
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 220px;
   
    background-color: rgb(49, 44, 44);
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.header_bar  nav ul li{
 
    background-color: rgb(49, 44, 44);
    list-style-type: none;

}


.header_bar  ul li a{

    background-color:rgb(49, 44, 44);
    list-style-position: outside;
    padding: 2px 7px 2px 7px;

    font-family: familia_1;
    color: #FFFFFF;
    backdrop-filter: blur(2px);
    text-decoration: none;

    
}


.header_bar  img {

    width: 60px;
    height: 45px;
    background-color:rgb(49, 44, 44);
    
}

/**********************BARRA REDES ********************************************/

.social_bar {

    position: fixed;
    margin: 340px 0px 0px 95%;
    display: flex;
    width: 180px;
    height: 0.01px;
    background-color: transparent;
    
    
    
   

}
.social_bar nav ul {

   

    display: flex;
    flex-direction: column;
    padding: 10px 10px 0px 10px;
    background-color: rgba(120, 123, 250, 0.25);
    border-radius: 10%;
    
    
}

.social_bar  nav ul li{

    
    list-style-type: none;
    
    padding-left: 5px;
    background-color: transparent;
}


.social_bar ul li a{



text-decoration: none;
background-color: transparent;



}

.social_bar ul li a img{

    background-color: transparent;
    
 
    
}



/*******************************************************************/

.portada_container {

    margin-top:40px; /* Esto se uso para compensar el NO ESPACIO de la barra de navegacion superior x culpa del position fixed */
    margin-bottom: 40px;

    display: grid;
    width: 100%;
    height: 700px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    overflow: hidden;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

/*-------------------------------------------------------------------------*/
/* --------------------------*/
.spoty_1{

    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
    
    margin-left: 15px;
    margin-top: 150px;
    margin-bottom: 15px;
    width: 230px;
    height: 80px;
    
    /* Esto lo guardo para hover 
    box-shadow: 2px 2px 5px rgb(172, 172, 172); */
   
}

.spoty_2{

    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 12;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 230px;
    height: 80px;
    
  
}


.prox_shows_container{

    
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 12;

    width: 200px;
    margin-top: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
   

    
    padding: 10px 10px 10px 10px;
    background-color: rgba(209, 0, 139, 0.45);
    backdrop-filter: blur(20px);
    opacity: 85%;
    border-radius: 5%;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
                inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
                inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
                0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);


}

.prox_shows_container h5{

    font-family:familia_1;
    letter-spacing: 0.09em;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color:#FFFFFF;

    background-color: transparent;


}

.show_container{
    display: flex;
    width: 100%;
    background-color: transparent;
    padding: 2px 2px 2px 2px;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

}




.prox_shows_container p{

    margin: 3px 3px 3px 3px;
    

    font-family:familia_1;
    letter-spacing: 0.09em;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color:#FFFFFF;

    background-color: transparent;



    
}

.mexico_flag2{

    background-color: transparent;
    width: 8%;
    height: 40%;
    margin-top: 6px;
  
}

.fecha_container{

    padding-left: 2px;
    background-color: transparent;



    
}

.fecha_container strong{

    background-color: transparent;
}

.link_mas_shows{

    font-family:familia_1;
    letter-spacing: 0.09em;
    font-style: normal;
    
    font-size: 12px;
    color:#FFFFFF;

    background-color: transparent;
    text-decoration: none;
    padding-left: 85%;
    padding-top: 3%;
}





.foto_portada_container{

    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    margin-left: 30px;
    overflow: hidden;
    
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    

}

.foto_portada_container img{

    width: 1272px;
    height: 715px;
    margin-left: -40px;
    margin-top: -20px;

   

}

.link_suscripcion{


    grid-column-start: 12;
    grid-column-end: 12;
   
    grid-row-start: 12;
    grid-row-end: 13;
    width: 190px;
    height: 40px;
   

    padding: 15px 15px 15px 35px;
    margin-left: 140px;
    margin-top: 5px;
    overflow: hidden;
    font-family:familia_1;
    letter-spacing: 0.15em;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:#FFFFFF;
    backdrop-filter: blur(20px);
    background-color: transparent;
    text-decoration: none;

}

.link_contrataciones{


    grid-column-start: 12;
    /*grid-column-end:13;*/
   
    grid-row-start: 12;
    /*grid-row-end: 11;*/
    width: 190px;
    height: 40px;
    margin-top: 45px;
    margin-left: 140px;
    padding: 15px 15px 15px 15px;
 
    overflow: hidden;
    font-family:familia_1;
    letter-spacing: 0.15em;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:#FFFFFF;
    backdrop-filter: blur(20px);
    background-color: transparent;
    text-decoration: none;

}

       
   



/* NOTICIAS -----------------------------------------------------------------------------------------------*/

.seccion_noticias{

    display: flex;
    flex-direction: column;
    padding: 50px 0 30px 0;
    margin: 0px 0px 20px 0px;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

    
        
}


.titulo_seccion_noticias{

    
    justify-content: center;
    margin: 0px 200px 50px 100px;
    padding-left: 30px;
    
 

    font-family:familia_1;
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color:#FFFFFF;
    backdrop-filter: blur(4px);
    background-color: transparent;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.mas_noticias{

    
    justify-content: center;
    margin: 0px 200px 50px 100px;
    padding-left: 30px;
    
 

    font-family:familia_1;
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color:#FFFFFF;
    backdrop-filter: blur(4px);
    background-color: transparent;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}






.noticia_container{

    display: flex;
    flex-direction: column;
    margin: 10px 150px 40px 150px;
   
    font-family: familia_1;
    color: #FFFFFF;
    background-color: rgba(5, 90, 55, 0.75);
    backdrop-filter: blur(20px);
    opacity: 85%;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
                inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
                inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
                0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

}

.noticia_container h3{

    background-color: transparent;
    padding: 15px 40px 10px 40px;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    

}
.noticia_container p{

    background-color: transparent;
    padding: 30px 40px 80px 40px;
   
}


.noticia_container a{


    padding: 10px 20px 10px 30px;
    margin-left: 82%;
    
    overflow: hidden;
    font-family:familia_1;
    letter-spacing: 0.15em;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:#FFFFFF;
    
    background-color: transparent;
    text-decoration: none;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    


}

.mas_noticias {

    margin: 70px 30px 0px 1180px;
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color:#FFFFFF;
    text-decoration: none;

    


}

.pie{

    display: flex;
    background-color: black;
    width: 100%;
    height: 160px;
}


/* BIOGRAFIA -----------------------------------------------------------------------------------------------*/
/* BIOGRAFIA -----------------------------------------------------------------------------------------------*/

.biografia_container{

    display: grid;
    width: 100%;
    height: 680px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    overflow: hidden;

}
    
    




.biografia_container img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;

    
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);




}


.contenedor_txt{

    
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 13;
   
    /* Color de fondo + transparencia de la division con rgba */
    background-color: rgba(5, 90, 55, 0.95);
    /*filter: blur(100px); Aca no es necesario.*/ 
    padding: 30px;

    
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

    
   
    
}

.contenedor_txt h1{

    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: transparent;

}

.contenedor_txt p{

height: 400px;
padding: 40px 20px 20px 20px;
color: rgb(255, 255, 255);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: transparent;
overflow-y: scroll;

}



.suscripcion_container {

    margin-top:40px; /* Esto se uso para compensar el NO ESPACIO de la barra de navegacion superior x culpa del position fixed */
    margin-bottom: 40px;

    display: grid;
    width: 100%;
    height: 700px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    overflow: hidden;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.suscripcion_container img{

    width: 100%;
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:12;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.formulario_suscripcion{

    width: 100%;
    height: 90%;
    grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end:12;
    margin-top: 15%;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);



}


    
