
/* Reset */
*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    background-color:rgb(61, 61, 61);
    
}


@font-face {
    font-family: familia_1;
    src: url('../fonts/Staatliches-Regular.ttf');

}

@font-face {
    font-family: familia_2;
    src: url('../fonts/Staatliches-Regular.ttf');

}

@font-face{

    font-family: familia_roboto;
    src: url('../fonts/Roboto-Bold.ttf');
}


/* DOSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

/* ------- FLEX CONTAINER PADRE ----------------------------------------------------------------------- */

.flex_container{

    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

/* HEADER -----------------------------------------------------------------------------------------------*/

.header_bar {

    position: fixed;
    background-color: rgb(49, 44, 44);
    display: flex;
    width: 100%;
    height: 50px;
    
   
 }


.header_bar  nav ul {

    
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 220px;
   
    background-color: rgb(49, 44, 44);
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.header_bar  nav ul li{
 
    background-color: rgb(49, 44, 44);
    list-style-type: none;

}


.header_bar  ul li a{

    background-color:rgb(49, 44, 44);
    list-style-position: outside;
    padding: 2px 7px 2px 7px;

    font-family: familia_1;
    color: #FFFFFF;
    backdrop-filter: blur(2px);
    text-decoration: none;

    
}


.header_bar  img {

    width: 60px;
    height: 45px;
    background-color:rgb(49, 44, 44);
    
}

/**********************BARRA REDES ********************************************/

.social_bar {

    position: fixed;
    margin: 340px 0px 0px 95%;
    display: flex;
    width: 180px;
    height: 0.01px;
    background-color: transparent;
    
    
    
   

}
.social_bar nav ul {

   

    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    background-color: rgba(120, 123, 250, 0.25);
    border-radius: 10%;
    
    
}

.social_bar  nav ul li{

    
    list-style-type: none;
    
    padding-left: 5px;
    background-color: transparent;
}


.social_bar ul li a{



text-decoration: none;
background-color: transparent;



}

.social_bar ul li a img{

    background-color: transparent;
    
 
    
}


/***barra navegacion responsive****************************************************/


.header_prueba{

    position: fixed;
    top: 0;
    left:0;
    background-color: rgb(49, 44, 44);
    overflow: hidden;
    width: 100%;
    height: 70px;
    margin: 0 auto;

}


.header_nav_bar{

   
    display: flex;
   
   
    max-width: 992px;
    background-color: rgb(49, 44, 44);
    

}

.menu_header_nav_var{

    display: flex;
    justify-content:center;
    padding-left: 50px;
    margin-top: 10px;

    list-style-type: none;
    background-color:transparent;
 

}



.header_nav_toggle{

    display: none;
    color:white;
    font-size: 30px;
    border: none;
    padding: 0px 10px 0px 10px;
    background: none;
    margin-top: -25px;
}




.header_nav_toggle:hover{

    
    background-color: rgba(5, 90, 55, 0.95);
    /*filter: blur(100px); Aca no es necesario.*/ 


}


.header_nav_logo1{

    width: 96px;
    height: 72px;
    background-color:transparent;
    margin:0px 0px 0px 30px;
    padding-top: 0;
}

.header_nav_menu_item,li{

    width: max-content;
 font: familia_1;
 color: #f8f7f7;
 text-decoration: none;

 padding: 18px 7px 40px 7px;
 background-color:transparent;


 letter-spacing: 0.15em;
 font-style:normal;
 font-weight:400px;
 font-size: 16px;


}

.header_nav_menu_item:hover{



background-color: rgba(5, 90, 55, 0.95);

/*filter: blur(100px); Aca no es necesario.
padding: 18px 20px 40px 20px;*/ 





}





.header_nav_mxflag{

    width: 54px;
    height: 45px;
    background-color:transparent;
    margin-top: -15px;
    margin-left: 320px;
}





/*******************************************************************/

.portada_container {

    margin-top:40px; /* Esto se uso para compensar el NO ESPACIO de la barra de navegacion superior x culpa del position fixed */
    margin-bottom: 20px;

    display: grid;
    width: 100%;
    height: 600px;

    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    overflow: hidden;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

/*-------------------------------------------------------------------------*/
/* --------------------------*/
.spoty_1{

    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 12;
    
    margin-left: 15px;
    margin-top: 150px;
    margin-bottom: 15px;
    width: 230px;
    height: 80px;
    
    /* Esto lo guardo para hover 
    box-shadow: 2px 2px 5px rgb(172, 172, 172); */
   
}

.spoty_2{

    grid-column-start: 0;
    grid-column-end: 2;
    grid-row-start: 12;
    grid-row-end: 12;
    margin-left: 15px;
    margin-bottom: 10px;
    width: 230px;
    height: 80px;
    
  
}


.prox_shows_container{

    
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 12;

    width: 200px;
    margin-top: 200px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
   

    
    padding: 10px 10px 10px 10px;
    background-color: rgba(209, 0, 139, 0.45);
    backdrop-filter: blur(20px);
    opacity: 85%;
    border-radius: 5%;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
                inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
                inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
                0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);


}

.prox_shows_container h5{

    font-family:familia_1;
    letter-spacing: 0.09em;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color:#FFFFFF;

    background-color: transparent;


}

.show_container{
    display: flex;
    width: 100%;
    background-color: transparent;
    padding: 2px 2px 2px 2px;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

}




.prox_shows_container p{

    margin: 3px 3px 3px 3px;
    

    font-family:familia_1;
    letter-spacing: 0.09em;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color:#FFFFFF;

    background-color: transparent;



    
}

.mexico_flag2{

    background-color: transparent;
    width: 8%;
    height: 40%;
    margin-top: 6px;
  
}

.fecha_container{

    padding-left: 2px;
    background-color: transparent;



    
}

.fecha_container strong{

    background-color: transparent;
}

.link_mas_shows{

    font-family:familia_1;
    letter-spacing: 0.09em;
    font-style: normal;
    
    font-size: 12px;
    color:#FFFFFF;

    background-color: transparent;
    text-decoration: none;
    padding-left: 85%;
    padding-top: 3%;
}





.foto_portada_container{

    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;
    margin-left: 30px;
    overflow: hidden;
    
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    

}

.foto_portada_container img{

    width: 1272px;
    height: 715px;
    margin-left: -40px;
    margin-top: -20px;

   

}

.link_suscripcion{


    grid-column-start: 12;
    grid-column-end: 12;
   
    grid-row-start: 12;
    grid-row-end: 13;
    width: 190px;
    height: 40px;
   

    padding: 15px 15px 15px 35px;
    margin-left: 140px;
    margin-top: 5px;
    overflow: hidden;
    font-family:familia_1;
    letter-spacing: 0.15em;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:#FFFFFF;
    backdrop-filter: blur(20px);
    background-color: transparent;
    text-decoration: none;

}

.link_contrataciones{


    grid-column-start: 12;
    /*grid-column-end:13;*/
   
    grid-row-start: 12;
    /*grid-row-end: 11;*/
    width: 190px;
    height: 40px;
    margin-top: 45px;
    margin-left: 140px;
    padding: 15px 15px 15px 15px;
 
    overflow: hidden;
    font-family:familia_1;
    letter-spacing: 0.15em;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:#FFFFFF;
    backdrop-filter: blur(20px);
    background-color: transparent;
    text-decoration: none;

}

       
   



/* NOTICIAS -----------------------------------------------------------------------------------------------*/

.seccion_noticias{

    display: flex;
    flex-direction: column;
    padding: 50px 0 30px 0;
    margin: 0px 0px 20px 0px;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

    
        
}


.titulo_seccion_noticias{

    
    justify-content: center;
    margin: 0px 200px 50px 100px;
    padding-left: 30px;
    
 

    font-family:familia_1;
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color:#FFFFFF;
    backdrop-filter: blur(4px);
    background-color: transparent;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.mas_noticias{

    
    justify-content: center;
    margin: 0px 200px 50px 100px;
    padding-left: 30px;
    
 

    font-family:familia_1;
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color:#FFFFFF;
    backdrop-filter: blur(4px);
    background-color: transparent;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}






.noticia_container{

    display: flex;
    flex-direction: column;
    margin: 10px 150px 40px 150px;
   
    font-family: familia_1;
    color: #FFFFFF;
    background-color: rgba(5, 90, 55, 0.75);
    backdrop-filter: blur(20px);
    opacity: 85%;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
                inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
                inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
                0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

}

.noticia_container h3{

    background-color: transparent;
    padding: 15px 40px 10px 40px;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    

}
.noticia_container p{

    background-color: transparent;
    padding: 30px 40px 80px 40px;
   
}


.noticia_container a{


    padding: 10px 20px 10px 30px;
    margin-left: 82%;
    
    overflow: hidden;
    font-family:familia_1;
    letter-spacing: 0.15em;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color:#FFFFFF;
    
    background-color: transparent;
    text-decoration: none;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    


}

.mas_noticias {

    margin: 70px 30px 0px 1180px;
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color:#FFFFFF;
    text-decoration: none;

    


}

.pie{

    display: flex;
    background-color: black;
    width: 100%;
    height: 260px;
}


/* BIOGRAFIA -----------------------------------------------------------------------------------------------*/
/* BIOGRAFIA -----------------------------------------------------------------------------------------------*/

.biografia_container{

    display: grid;
    width: 100%;
    height: 640px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    overflow: hidden;

}
    
    




.biografia_container img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column-start: 3;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 13;

    margin-top: 0px;
    margin-left: 160px;

    
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);




}


.contenedor_txt{

    
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 13;
   
    /* Color de fondo + transparencia de la division con rgba */
    background-color: rgba(5, 90, 55, 0.95);
    /*filter: blur(100px); Aca no es necesario.*/ 
    padding: 40px;
    margin-left: -50px;
    margin-right: 50px;

    
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

    
   
    
}

.contenedor_txt h1{

    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: transparent;

}

.contenedor_txt p{

height: 400px;
padding: 40px 20px 20px 20px;
color: rgb(255, 255, 255);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: transparent;
overflow-y: scroll;

}



/* SUSCRIPCION -----------------------------------------------------------------------------------------------*/
/* SUSCRIPCION -----------------------------------------------------------------------------------------------*/


.seccion_suscripcion_container {

   

    /*display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    overflow: hidden;*/
    
    display: flex;
    justify-content:flex-end;
    
    margin-top:40px; /* Esto se uso para compensar el NO ESPACIO de la barra de navegacion superior x culpa del position fixed */
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;

    border-left: 60px black;
    border-style:solid;
    width: 90%;
    height: 690px;

    background-image: url("../imagenes/img_form_sucr.jpg");
    background-size:contain;
    background-position:left;
    background-repeat: no-repeat;
    background-position-x: -100px;
    
   
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

/*
.portada_suscripcion_container {

    
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end:12;




    width: 40%;
    height: 98%;
    overflow: hidden;
    margin: 0px 50px 30px 0px;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}


.portada_suscripcion_container img{

    width: 675px;
    height: 1197px;
    margin-left: -160px;
    margin-top: -70px;



}




.form_container{

    width: 60%;
    height: 93%;
    /*grid-column-start: 7;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end:12;*/ /*
    margin: 30px 30px 30px 70px;
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}



.form_container  {

    /*background-color: blue; /*Esto para distinguir las cajas y luego lo quito 
    background-image: url("../imagenes/img_form_sucr.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 67%;
    
}*/

.formulario_suscripcion{

    
    margin-top:  50px;
    
    margin-right: 70px;
    /*background-color:transparent;
    background: rgba(204, 41, 41, 0.9);
     backdrop-filter:  blur(30px);*/

     
    /* Color de fondo + transparencia de la division con rgba */
    background-color: rgba(5, 90, 55, 0.45);
    /*filter: blur(100px); Aca no es necesario.*/ 

}

.formulario_suscripcion ul{

   padding-top: 50px;
   background-color:transparent;
}


.formulario_suscripcion ul li{

    text-decoration: none;
    font-family: familia_1;
    color: #FFFFFF;
    background-color:transparent;
    
    display: flex;
    flex-direction: column;
    

    
    padding-left: 50px;
    padding-right: 50px;
    


}

.formulario_suscripcion ul li h2{

    text-decoration: none;
    font-family: familia_1;
    color: #FFFFFF;
    letter-spacing: 5px;
    background-color:transparent;
    padding-bottom: 30px;
    
    
    


}

.formulario_suscripcion ul li label{ 
    text-decoration: none;
    font-family: familia_1;
    color: #FFFFFF;

    margin: 20px 20px 10px 0px;
    width: 100%;
    background-color: transparent;
}

.formulario_suscripcion ul li input{ 
    text-decoration: none;
    font-family: familia_1;
    color: #000000;


    padding-left: 100px;
    margin-bottom: 10px;
    
    background-color: #FFFFFF;
    height: 25px;
   
    border-radius: 25px;
    border-style: none;
    background: #ffffff;

    box-shadow: -7px 26px 47px 7px rgba(0,0,0,0.6),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}


.formulario_suscripcion ul li select{ 
    text-decoration: none;
    font-family: familia_1;
    color: #000000;


    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    height: 30px;
   
    border-radius: 25px;
    border-style: none;
    background: #ffffff;

    box-shadow: -7px 26px 47px 7px rgba(0,0,0,0.6),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.formulario_suscripcion ul li select option{ 
    text-decoration: none;
    font-family: familia_1;
    color: #000000;


    padding-left: 20px;
    padding-right: 20px;
    background-color: #FFFFFF;
    height: 25px;
   
    border-radius: 25px;
    border-style: none;
    background: #ffffff;

    box-shadow: -7px 26px 47px 7px rgba(0,0,0,0.6),0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

.formulario_suscripcion ul li .boton_aceptar{


    font-family: familia_1;
    color: #f8f7f7;
    font-weight: bold;

    border-radius: 25px;
    margin-left: 70px;
    margin-top: 70px;
    margin-bottom: 90px;
    width: 130px;
    height: 30px;
    background-color: rgb(37, 82, 230,0.55);
    padding-left: 0px;

 
}


    

















.seccion_tour_container {

   

    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    overflow: hidden;
    
    
    
    margin-top:40px; /* Esto se uso para compensar el NO ESPACIO de la barra de navegacion superior x culpa del position fixed */
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;

  
    width: 90%;
    height: 690px;

    background-image: url("../imagenes/img_portada_tour.jpg");
    background-size:contain;
    background-position:right;
    background-repeat: no-repeat;
    background-position-x: 250px;
    
   
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}


.box_fechas{

    grid-column-start: 1;
    grid-row-start: 9;
    
    width: 530px;
    height: 500px;

    margin: 30px 30px 30px 30px;
    padding-left: 20px;
    padding-bottom: 150px;
    padding-top: 40px;

    /*background-color:transparent;
    background: rgba(204, 41, 41, 0.9);
     backdrop-filter:  blur(30px);*/

     
    /* Color de fondo + transparencia de la division con rgba */
    background-color: rgba(255, 231, 18, 0.45);
    /*filter: blur(100px); Aca no es necesario.*/
   
    
    overflow-y: scroll;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
   

}

.box_fechas ul{

    background-color: transparent;
}

.box_fechas ul li{

    background-color: transparent;

}

.box_fechas ul h2{

    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color: #FFFFFF;

    margin: 30px 0px 30px 30px;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
   
    
}

.fecha_container_tour{

    display: flex;
    align-items: center;
    justify-content:stretch;
    background-color: transparent;
   

     
}
.fecha_container_tour div{


    background-color: transparent;
    margin: 10px 10px 10px 10px;

     
}

.flag_datos_concierto{


    background-color: transparent;
    width: 40px;
    height: 40px;
    margin-left: 30px;
    margin-right: 30px;
    row-gap: 50px;
}



.datos_conciertos{

    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 40px;
    

    
    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);

  
   
}

.datos_conciertos p{

    background-color: transparent;
    font-family: familia_roboto;
    color: #f8f7f7;
    font-size: 18px;
    margin-top: 10px;
}



.datos_conciertos a{

    background-color:red;
    font-family: familia_1;
    color: #f8f7f7;
    font-size: 14px;
    text-decoration:none;
    border-radius: 25px;
    
    margin-left: 140px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}



/*---------------------------------------------------------*/

@media (max-width: 768px){




.header_nav_logo1{

    height: 78px;
    width: 50px;
   
    margin:0px 0px 0px 30px;
    padding-top: 0;

    
}


.header_nav_toggle{


    display: block;
    margin-left: 630px;
    scale: 150%;
    padding-top: 15px;

}


.menu_header_nav_var{

    flex-direction: column;
    justify-content:center;

    position: fixed;
    background-color: rgba(19, 8, 114, 0.85);
    margin-top: 70px;
    padding-top:20px;

    width: 320px;
        
    height: calc(100% - 70px);
    overflow-y: auto;

    left: -100%;
    transition: left;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);


}

.header_nav_menu_item,li{

    font-size: 20px;
    padding: 30px 0 0 0;
    margin-left: -5px;

    
    
}

.header_nav_mxflag{

    width: 54px;
    height: 45px;
    background-color:transparent;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 30px;

    box-shadow: -32px 22px 15px 0px rgba(0,0,0,0.1),
    inset 0px 21px 45px 22px rgba(0,0,0,0.1),0px 10px 41px -3px rgba(0,0,0,0.1),
    inset 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1),
    0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}

    
.header_nav_menu_item:hover{



    background-color:transparent;
   color: darkgreen;
    
    /*filter: blur(100px); Aca no es necesario.
    padding: 18px 20px 40px 20px;*/ 
    

}


.menu_header_nav_var_visible{

    left : 0;
}



}